<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="style/public.css" />
<link rel="stylesheet" type="text/css" href="style/list.css" />
<style type="text/css">
#main #right .member_big {
	margin:20px auto 0 auto;
	width:180px;
}
#main #right .member_big dl dd {
	line-height:150%;
}
#main #right .member_big dl dd a {
	color:#333;
}
#main #right .member_big dl dd.name {
	font-size: 22px;
    font-weight: 400;
    line-height:140%;
    padding:5px 0 10px 0px;
}
</style>
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">sifangku</div>
			<div class="nav">
				<a class="hover">首页</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			<div class="login">
				<a>登录</a>&nbsp;
				<a>注册</a>
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		<a href="index.php">首页</a> &gt; 会员名称
	</div>
	<div id="main" class="auto">
		<div id="left">
			<ul class="postsList">
				<li>
					<div class="smallPic">
						<a href="#">
							<img width="45" height="45" src="style/photo.jpg" />
						</a>
					</div>
					<div class="subject">
						<div class="titleWrap"><h2><a target="_blank" href="">帖子标题</a></h2></div>
						<p>
							<!--<a target='_blank' href=''>编辑</a> | <a href=''>删除</a>-->
							最后回复：1dqdqw
						</p>
					</div>
					<div class="count">
						<p>
							回复<br /><span>1</span>
						</p>
						<p>
							浏览<br /><span>1</span>
						</p>
					</div>
					<div style="clear:both;"></div>
				</li>
			</ul>
			<div class="pages"></div>
		</div>
		<div id="right">
			<div class="member_big">
				<dl>
					<dt>
						<img width="180" height="180" src="style/photo.jpg" />
					</dt>
					<dd class="name">ddqw</dd>
					<dd>帖子总计：1</dd>
					<!--<dd>操作：<a target="_blank" href="">修改头像</a> | <a target="_blank" href="">修改密码</a></dd>-->
				</dl>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	
</body>
</html>